{#
/**
 * @file
 * Template to render an Openseadragon viewer using a IIIF manifest.
 *
 * Available variables:
 * - attributes: Container attributes.
 *
 * @see template_preprocess_openseadragon_iiif_manifest_block()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('libraries/openseadragon') }}
{{ attach_library('openseadragon/init') }}
<div {{ attributes }}></div>
