{#
/**
 * @file
 * Default theme implementation to display a formatted openseadragon image field.
 *
 * Available variables:
 * - attributes: Container attributes.
 *
 * @see template_preprocess_openseadragon_formatter()
 *
 * @ingroup themeable
 */
#}
<div {{ attributes }}></div>
